<div class="container">
    <nav class="custom-toolbar">
        <a class="menu-button home-link" routerLink="/">Inicio</a>

        <div class="menu-group">
            <span class="menu-title">Salas</span>
            <a class="menu-button" routerLink="/salas/listas">Lista</a>
            <a class="menu-button" routerLink="/salas/nuevo">Nuevo</a>
        </div>

        <div class="menu-group">
            <span class="menu-title">Ejercicios</span>
            <a class="menu-button" routerLink="/ejercicios/listas">Lista</a>
            <a class="menu-button" routerLink="/ejercicios/nuevo">Nuevo</a>
        </div>

        <div class="menu-group">
            <span class="menu-title">Roles</span>
            <a class="menu-button" routerLink="/roles/listas">Lista</a>
            <a class="menu-button" routerLink="/roles/nuevo">Nuevo</a>
        </div>

        <div class="menu-group">
            <span class="menu-title">Etiquetas</span>
            <a class="menu-button" routerLink="/etiquetas/listas">Lista</a>
            <a class="menu-button" routerLink="/etiquetas/nuevo">Nuevo</a>
        </div>
    </nav>
</div>