<div class="container">
    <mat-toolbar class="custom-toolbar">
        
        <button mat-button class="menu-button home-link" routerLink="/">
            <mat-icon>home</mat-icon>Inicio
        </button>

        <button mat-button class="menu-button menu-title" [matMenuTriggerFor]="menuEjercicios">
            EJERCICIOS <mat-icon>arrow_drop_down</mat-icon>
        </button>
        <mat-menu #menuEjercicios="matMenu">
            <button mat-menu-item routerLink="/ejercicios/listas"><mat-icon>list</mat-icon>Lista</button>
            <button mat-menu-item routerLink="/ejercicios/nuevo"><mat-icon>add</mat-icon>Nuevo</button>
        </mat-menu>

        <button mat-button class="menu-button menu-title" [matMenuTriggerFor]="menuRoles">
            ROLES <mat-icon>arrow_drop_down</mat-icon>
        </button>
        <mat-menu #menuRoles="matMenu">
            <button mat-menu-item routerLink="/roles/listas"><mat-icon>list</mat-icon>Lista</button>
            <button mat-menu-item routerLink="/roles/nuevo"><mat-icon>add</mat-icon>Nuevo</button>
        </mat-menu>

        <button mat-button class="menu-button menu-title" [matMenuTriggerFor]="menuEtiquetas">
            ETIQUETAS <mat-icon>arrow_drop_down</mat-icon>
        </button>
        <mat-menu #menuEtiquetas="matMenu">
            <button mat-menu-item routerLink="/etiquetas/listas"><mat-icon>list</mat-icon>Lista</button>
            <button mat-menu-item routerLink="/etiquetas/nuevo"><mat-icon>add</mat-icon>Nuevo</button>
        </mat-menu>

    </mat-toolbar>
</div>